openapi: 3.0.2
info:
  title: Binance Public Spot API
  description: |-
    OpenAPI Specifications for the Binance Public Spot API

    API documents:
      - [https://github.com/binance/binance-spot-api-docs](https://github.com/binance/binance-spot-api-docs)
      - [https://binance-docs.github.io/apidocs/spot/en](https://binance-docs.github.io/apidocs/spot/en)
  version: "1.0"
servers:
- url: https://api.binance.com
- url: https://testnet.binance.vision
tags:
- name: Market
  description: Market Data
- name: Trade
  description: Account/Trade
- name: Margin
  description: Margin Account/Trade
- name: Wallet
  description: Wallet Endpoints
- name: Sub-Account
  description: Sub-account Endpoints
- name: Stream
  description: User Data Stream
- name: Margin Stream
  description: Margin User Data Stream
- name: Isolated Margin Stream
  description: Isolated User Data Stream
- name: Savings
  description: Savings Endpoints
- name: Staking
  description: Staking Endpoints
- name: Mining
  description: Mining Endpoints
- name: Futures
  description: Futures Endpoints
- name: Futures Algo
  description: Futures Algo Endpoints
- name: Spot Algo
  description: Spot Algo Endpoints
- name: Portfolio Margin
  description: Portfolio Margin Endpoints
- name: BLVT
  description: Binance Leveraged Tokens Endpoints
- name: BSwap
  description: Binance Swap Endpoints
- name: Fiat
  description: Fiat Endpoints
- name: C2C
  description: Consumer-To-Consumer Endpoints
- name: VIP Loans
  description: VIP Loans Endpoints
- name: Crypto Loans
  description: Crypto Loans Endpoints
- name: Pay
  description: Pay Endpoints
- name: Convert
  description: Convert Endpoints
- name: Rebate
  description: Rebate Endpoints
- name: NFT
  description: NFT Endpoints
- name: Gift Card
  description: Gift Card Endpoints
- name: Auto-Invest
  description: Auto-Invest Endpoints
- name: Simple Earn
  description: Simple Earn Endpoints
paths:
  /api/v3/ping:
    get:
      tags:
      - Market
      summary: Test Connectivity
      description: |-
        Test connectivity to the Rest API.

        Weight(IP): 1
      operationId: apiV3PingGET
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
      x-swagger-router-controller: Market
  /api/v3/time:
    get:
      tags:
      - Market
      summary: Check Server Time
      description: |-
        Test connectivity to the Rest API and get the current server time.

        Weight(IP): 1
      operationId: apiV3TimeGET
      responses:
        "200":
          description: Binance server UTC timestamp
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
      x-swagger-router-controller: Market
  /api/v3/exchangeInfo:
    get:
      tags:
      - Market
      summary: Exchange Information
      description: |-
        Current exchange trading rules and symbol information

        - If any symbol provided in either symbol or symbols do not exist, the endpoint will throw an error.

        Weight(IP): 10
      operationId: apiV3ExchangeInfoGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: symbols
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: "[\"BTCUSDT\",\"BNBBTC\"]"
      - name: permissions
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: "'SPOT' or ['MARGIN','LEVERAGED']"
      responses:
        "200":
          description: Current exchange trading rules and symbol information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-swagger-router-controller: Market
  /api/v3/depth:
    get:
      tags:
      - Market
      summary: Order Book
      description: |-
        | Limit               | Weight(IP)  |
        |---------------------|-------------|
        | 1-100               | 1           |
        | 101-500             | 5           |
        | 501-1000            | 10          |
        | 1001-5000           | 50          |
      operationId: apiV3DepthGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: limit
        in: query
        description: "If limit > 5000, then the response will truncate to 5000"
        required: false
        style: form
        explode: true
        schema:
          maximum: 5000
          type: integer
          format: int32
          example: 100
          default: 100
      responses:
        "200":
          description: Order book
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
              example:
                lastUpdateId: 1027024
                bids:
                - - "4.00000000"
                  - "431.00000000"
                asks:
                - - "4.00000200"
                  - "12.00000000"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-swagger-router-controller: Market
  /api/v3/trades:
    get:
      tags:
      - Market
      summary: Recent Trades List
      description: |-
        Get recent trades.

        Weight(IP): 1
      operationId: apiV3TradesGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: limit
        in: query
        description: Default 500; max 1000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 5
      responses:
        "200":
          description: Trade list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/trade'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-swagger-router-controller: Market
  /api/v3/historicalTrades:
    get:
      tags:
      - Market
      summary: Old Trade Lookup
      description: |-
        Get older market trades.

        Weight(IP): 5
      operationId: apiV3HistoricalTradesGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: limit
        in: query
        description: Default 500; max 1000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 5
      - name: fromId
        in: query
        description: Trade id to fetch from. Default gets most recent trades.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Trade list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/trade'
                x-content-type: application/json
      x-swagger-router-controller: Market
  /api/v3/aggTrades:
    get:
      tags:
      - Market
      summary: Compressed/Aggregate Trades List
      description: |-
        Get compressed, aggregate trades. Trades that fill at the time, from the same order, with the same price will have the quantity aggregated.
        - If `fromId`, `startTime`, and `endTime` are not sent, the most recent aggregate trades will be returned.
        - Note that if a trade has the following values, this was a duplicate aggregate trade and marked as invalid:

          p = '0' // price

          q = '0' // qty

          f = -1 // first_trade_id

          l = -1 // last_trade_id

        Weight(IP): 1
      operationId: apiV3AggTradesGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: fromId
        in: query
        description: Trade id to fetch from. Default gets most recent trades.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: startTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: Default 500; max 1000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 5
      responses:
        "200":
          description: Trade list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/aggTrade'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-swagger-router-controller: Market
  /api/v3/klines:
    get:
      tags:
      - Market
      summary: Kline/Candlestick Data
      description: |-
        Kline/candlestick bars for a symbol.
        Klines are uniquely identified by their open time.

        - If `startTime` and `endTime` are not sent, the most recent klines are returned.

        Weight(IP): 1
      operationId: apiV3KlinesGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: interval
        in: query
        description: kline intervals
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: '"1m"'
          enum:
          - 1s
          - 1m
          - 3m
          - 5m
          - 15m
          - 30m
          - 1h
          - 2h
          - 4h
          - 6h
          - 8h
          - 12h
          - 1d
          - 3d
          - 1w
          - 1M
      - name: startTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: Default 500; max 1000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 5
      responses:
        "200":
          description: Kline data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  example:
                  - 1499040000000
                  - "0.01634790"
                  - "0.80000000"
                  - "0.01575800"
                  - "0.01577100"
                  - "148976.11427815"
                  - 1499644799999
                  - "2434.19055334"
                  - 308
                  - "1756.87402397"
                  - "28.46694368"
                  - "17928899.62484339"
                  items:
                    maxItems: 12
                    minItems: 12
                    oneOf:
                    - type: integer
                      format: int64
                    - type: string
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-swagger-router-controller: Market
  /api/v3/uiKlines:
    get:
      tags:
      - Market
      summary: UIKlines
      description: |-
        The request is similar to klines having the same parameters and response.

        uiKlines return modified kline data, optimized for presentation of candlestick charts.

        Weight(IP): 1
      operationId: apiV3UiKlinesGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: interval
        in: query
        description: kline intervals
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: '"1m"'
          enum:
          - 1s
          - 1m
          - 3m
          - 5m
          - 15m
          - 30m
          - 1h
          - 2h
          - 4h
          - 6h
          - 8h
          - 12h
          - 1d
          - 3d
          - 1w
          - 1M
      - name: startTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: Default 500; max 1000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 5
      responses:
        "200":
          description: UIKline data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  example:
                  - 1499040000000
                  - "0.01634790"
                  - "0.80000000"
                  - "0.01575800"
                  - "0.01577100"
                  - "148976.11427815"
                  - 1499644799999
                  - "2434.19055334"
                  - 308
                  - "1756.87402397"
                  - "28.46694368"
                  - "0"
                  items:
                    maxItems: 12
                    minItems: 12
                    oneOf:
                    - type: integer
                      format: int64
                    - type: string
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-swagger-router-controller: Market
  /api/v3/avgPrice:
    get:
      tags:
      - Market
      summary: Current Average Price
      description: |-
        Current average price for a symbol.

        Weight(IP): 1
      operationId: apiV3AvgPriceGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      responses:
        "200":
          description: Average price
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-swagger-router-controller: Market
  /api/v3/ticker/24hr:
    get:
      tags:
      - Market
      summary: 24hr Ticker Price Change Statistics
      description: |-
        24 hour rolling window price change statistics. Careful when accessing this with no symbol.

        - If the symbol is not sent, tickers for all symbols will be returned in an array.

        Weight(IP):
        - `1` for a single symbol;
        - `40` when the symbol parameter is omitted;
      operationId: apiV3Ticker24hrGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: symbols
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: "[\"BTCUSDT\",\"BNBBTC\"]"
      - name: type
        in: query
        description: |-
          Supported values: FULL or MINI.
          If none provided, the default is FULL
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: 24hr ticker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-swagger-router-controller: Market
  /api/v3/ticker/price:
    get:
      tags:
      - Market
      summary: Symbol Price Ticker
      description: |-
        Latest price for a symbol or symbols.

        - If the symbol is not sent, prices for all symbols will be returned in an array.

        Weight(IP):
        - `1` for a single symbol;
        - `2` when the symbol parameter is omitted;
      operationId: apiV3TickerPriceGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: symbols
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: "[\"BTCUSDT\",\"BNBBTC\"]"
      responses:
        "200":
          description: Price ticker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-swagger-router-controller: Market
  /api/v3/ticker/bookTicker:
    get:
      tags:
      - Market
      summary: Symbol Order Book Ticker
      description: |-
        Best price/qty on the order book for a symbol or symbols.

        - If the symbol is not sent, bookTickers for all symbols will be returned in an array.

        Weight(IP):
        - `1` for a single symbol;
        - `2` when the symbol parameter is omitted;
      operationId: apiV3TickerBookTickerGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: symbols
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: "[\"BTCUSDT\",\"BNBBTC\"]"
      responses:
        "200":
          description: Order book ticker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-swagger-router-controller: Market
  /api/v3/ticker:
    get:
      tags:
      - Market
      summary: Rolling window price change statistics
      description: |-
        The window used to compute statistics is typically slightly wider than requested windowSize.

        openTime for /api/v3/ticker always starts on a minute, while the closeTime is the current time of the request. As such, the effective window might be up to 1 minute wider than requested.

        E.g. If the closeTime is 1641287867099 (January 04, 2022 09:17:47:099 UTC) , and the windowSize is 1d. the openTime will be: 1641201420000 (January 3, 2022, 09:17:00 UTC)

        Weight(IP): 2 for each requested symbol regardless of windowSize.

        The weight for this request will cap at 100 once the number of symbols in the request is more than 50.
      operationId: apiV3TickerGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: symbols
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: "[\"BTCUSDT\",\"BNBBTC\"]"
      - name: windowSize
        in: query
        description: |-
          Defaults to 1d if no parameter provided.
          Supported windowSize values:
          1m,2m....59m for minutes
          1h, 2h....23h - for hours
          1d...7d - for days.

          Units cannot be combined (e.g. 1d2h is not allowed)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: |-
          Supported values: FULL or MINI.
          If none provided, the default is FULL
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Rolling price ticker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      x-swagger-router-controller: Market
  /api/v3/order/test:
    post:
      tags:
      - Trade
      summary: Test New Order (TRADE)
      description: |-
        Test new order creation and signature/recvWindow long.
        Creates and validates a new order but does not send it into the matching engine.

        Weight(IP): 1
      operationId: apiV3OrderTestPOST
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: side
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: SELL
          enum:
          - SELL
          - BUY
      - name: type
        in: query
        description: Order type
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: LIMIT
          enum:
          - LIMIT
          - MARKET
          - STOP_LOSS
          - STOP_LOSS_LIMIT
          - TAKE_PROFIT
          - TAKE_PROFIT_LIMIT
          - LIMIT_MAKER
      - name: timeInForce
        in: query
        description: Order time in force
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: GTC
          enum:
          - GTC
          - IOC
          - FOK
      - name: quantity
        in: query
        description: Order quantity
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 1
      - name: quoteOrderQty
        in: query
        description: Quote quantity
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: price
        in: query
        description: Order price
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 219
      - name: newClientOrderId
        in: query
        description: Used to uniquely identify this cancel. Automatically generated
          by default
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: strategyId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: strategyType
        in: query
        description: The value cannot be less than 1000000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: stopPrice
        in: query
        description: "Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT\
          \ orders."
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 221.01
      - name: trailingDelta
        in: query
        description: "Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT\
          \ orders."
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: icebergQty
        in: query
        description: "Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create\
          \ an iceberg order."
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: newOrderRespType
        in: query
        description: "Set the response JSON. MARKET and LIMIT order types default\
          \ to FULL, all other orders default to ACK."
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ACK
          - RESULT
          - FULL
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
  /api/v3/order:
    get:
      tags:
      - Trade
      summary: Query Order (USER_DATA)
      description: |-
        Check an order's status.

        - Either `orderId` or `origClientOrderId` must be sent.
        - For some historical orders `cummulativeQuoteQty` will be < 0, meaning the data is not available at this time.

        Weight(IP): 2
      operationId: apiV3OrderGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: orderId
        in: query
        description: Order id
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: origClientOrderId
        in: query
        description: Order id from client
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/orderDetails'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
    post:
      tags:
      - Trade
      summary: New Order (TRADE)
      description: |-
        Send in a new order.

        - `LIMIT_MAKER` are `LIMIT` orders that will be rejected if they would immediately match and trade as a taker.
        - `STOP_LOSS` and `TAKE_PROFIT` will execute a `MARKET` order when the `stopPrice` is reached.
        - Any `LIMIT` or `LIMIT_MAKER` type order can be made an iceberg order by sending an `icebergQty`.
        - Any order with an `icebergQty` MUST have `timeInForce` set to `GTC`.
        - `MARKET` orders using `quantity` specifies how much a user wants to buy or sell based on the market price.
        - `MARKET` orders using `quoteOrderQty` specifies the amount the user wants to spend (when buying) or receive (when selling) of the quote asset; the correct quantity will be determined based on the market liquidity and `quoteOrderQty`.
        - `MARKET` orders using `quoteOrderQty` will not break `LOT_SIZE` filter rules; the order will execute a quantity that will have the notional value as close as possible to `quoteOrderQty`.
        - same `newClientOrderId` can be accepted only when the previous one is filled, otherwise the order will be rejected.

        Trigger order price rules against market price for both `MARKET` and `LIMIT` versions:

        - Price above market price: `STOP_LOSS` `BUY`, `TAKE_PROFIT` `SELL`
        - Price below market price: `STOP_LOSS` `SELL`, `TAKE_PROFIT` `BUY`


        Weight(IP): 1
      operationId: apiV3OrderPOST
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: side
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: SELL
          enum:
          - SELL
          - BUY
      - name: type
        in: query
        description: Order type
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: LIMIT
          enum:
          - LIMIT
          - MARKET
          - STOP_LOSS
          - STOP_LOSS_LIMIT
          - TAKE_PROFIT
          - TAKE_PROFIT_LIMIT
          - LIMIT_MAKER
      - name: timeInForce
        in: query
        description: Order time in force
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: GTC
          enum:
          - GTC
          - IOC
          - FOK
      - name: quantity
        in: query
        description: Order quantity
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 1
      - name: quoteOrderQty
        in: query
        description: Quote quantity
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: price
        in: query
        description: Order price
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 219
      - name: newClientOrderId
        in: query
        description: Used to uniquely identify this cancel. Automatically generated
          by default
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: strategyId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: strategyType
        in: query
        description: The value cannot be less than 1000000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: stopPrice
        in: query
        description: "Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT\
          \ orders."
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 221.01
      - name: trailingDelta
        in: query
        description: "Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT\
          \ orders."
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: icebergQty
        in: query
        description: "Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create\
          \ an iceberg order."
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: newOrderRespType
        in: query
        description: "Set the response JSON. MARKET and LIMIT order types default\
          \ to FULL, all other orders default to ACK."
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ACK
          - RESULT
          - FULL
      - name: selfTradePreventionMode
        in: query
        description: "The allowed enums is dependent on what is configured on the\
          \ symbol. The possible supported values are EXPIRE_TAKER, EXPIRE_MAKER,\
          \ EXPIRE_BOTH, NONE."
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: EXPIRE_TAKER
          enum:
          - EXPIRE_TAKER
          - EXPIRE_MAKER
          - EXPIRE_BOTH
          - NONE
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Order result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
    delete:
      tags:
      - Trade
      summary: Cancel Order (TRADE)
      description: |-
        Cancel an active order.

        Either `orderId` or `origClientOrderId` must be sent.

        Weight(IP): 1
      operationId: apiV3OrderDELETE
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: orderId
        in: query
        description: Order id
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: origClientOrderId
        in: query
        description: Order id from client
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: newClientOrderId
        in: query
        description: Used to uniquely identify this cancel. Automatically generated
          by default
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: cancelRestrictions
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: ONLY_NEW
          enum:
          - ONLY_NEW
          - ONLY_PARTIALLY_FILLED
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Cancelled order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/order'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
  /api/v3/order/cancelReplace:
    post:
      tags:
      - Trade
      summary: Cancel an Existing Order and Send a New Order (Trade)
      description: |-
        Cancels an existing order and places a new order on the same symbol.

        Filters and Order Count are evaluated before the processing of the cancellation and order placement occurs.

        A new order that was not attempted (i.e. when newOrderResult: NOT_ATTEMPTED), will still increase the order count by 1.

        Weight(IP): 1
      operationId: apiV3OrderCancelReplacePOST
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: side
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: SELL
          enum:
          - SELL
          - BUY
      - name: type
        in: query
        description: Order type
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: LIMIT
          enum:
          - LIMIT
          - MARKET
          - STOP_LOSS
          - STOP_LOSS_LIMIT
          - TAKE_PROFIT
          - TAKE_PROFIT_LIMIT
          - LIMIT_MAKER
      - name: cancelReplaceMode
        in: query
        description: |-
          - `STOP_ON_FAILURE` If the cancel request fails, the new order placement will not be attempted.
          - `ALLOW_FAILURES` If new order placement will be attempted even if cancel request fails.
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: STOP_ON_FAILURE
      - name: cancelRestrictions
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: ONLY_NEW
          enum:
          - ONLY_NEW
          - ONLY_PARTIALLY_FILLED
      - name: timeInForce
        in: query
        description: Order time in force
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: GTC
          enum:
          - GTC
          - IOC
          - FOK
      - name: quantity
        in: query
        description: Order quantity
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 1
      - name: quoteOrderQty
        in: query
        description: Quote quantity
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: price
        in: query
        description: Order price
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 219
      - name: cancelNewClientOrderId
        in: query
        description: Used to uniquely identify this cancel. Automatically generated
          by default
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: cancelOrigClientOrderId
        in: query
        description: "Either the cancelOrigClientOrderId or cancelOrderId must be\
          \ provided. If both are provided, cancelOrderId takes precedence."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: cancelOrderId
        in: query
        description: "Either the cancelOrigClientOrderId or cancelOrderId must be\
          \ provided. If both are provided, cancelOrderId takes precedence."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 12
      - name: newClientOrderId
        in: query
        description: Used to uniquely identify this cancel. Automatically generated
          by default
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: strategyId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: strategyType
        in: query
        description: The value cannot be less than 1000000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: stopPrice
        in: query
        description: "Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT\
          \ orders."
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 221.01
      - name: trailingDelta
        in: query
        description: "Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT\
          \ orders."
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: icebergQty
        in: query
        description: "Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create\
          \ an iceberg order."
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: newOrderRespType
        in: query
        description: "Set the response JSON. MARKET and LIMIT order types default\
          \ to FULL, all other orders default to ACK."
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ACK
          - RESULT
          - FULL
      - name: selfTradePreventionMode
        in: query
        description: "The allowed enums is dependent on what is configured on the\
          \ symbol. The possible supported values are EXPIRE_TAKER, EXPIRE_MAKER,\
          \ EXPIRE_BOTH, NONE."
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: EXPIRE_TAKER
          enum:
          - EXPIRE_TAKER
          - EXPIRE_MAKER
          - EXPIRE_BOTH
          - NONE
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Operation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
  /api/v3/openOrders:
    get:
      tags:
      - Trade
      summary: Current Open Orders (USER_DATA)
      description: |-
        Get all open orders on a symbol. Careful when accessing this with no symbol.

        Weight(IP):
        - `3` for a single symbol;
        - `40` when the symbol parameter is omitted;
      operationId: apiV3OpenOrdersGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Current open orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/orderDetails'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
    delete:
      tags:
      - Trade
      summary: Cancel all Open Orders on a Symbol (TRADE)
      description: |-
        Cancels all active orders on a symbol.
        This includes OCO orders.

        Weight(IP): 1
      operationId: apiV3OpenOrdersDELETE
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Cancelled orders
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                  - $ref: '#/components/schemas/order'
                  - $ref: '#/components/schemas/ocoOrder'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
  /api/v3/allOrders:
    get:
      tags:
      - Trade
      summary: All Orders (USER_DATA)
      description: |-
        Get all account orders; active, canceled, or filled..

        - If `orderId` is set, it will get orders >= that `orderId`. Otherwise most recent orders are returned.
        - For some historical orders `cummulativeQuoteQty` will be < 0, meaning the data is not available at this time.
        - If `startTime` and/or `endTime` provided, `orderId` is not required

        Weight(IP): 10
      operationId: apiV3AllOrdersGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: orderId
        in: query
        description: Order id
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: startTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: Default 500; max 1000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 5
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Current open orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/orderDetails'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
  /api/v3/order/oco:
    post:
      tags:
      - Trade
      summary: New OCO (TRADE)
      description: |-
        Send in a new OCO

        - Price Restrictions:
          - `SELL`: Limit Price > Last Price > Stop Price
          - `BUY`: Limit Price < Last Price < Stop Price
        - Quantity Restrictions:
            - Both legs must have the same quantity
            - `ICEBERG` quantities however do not have to be the same
        - Order Rate Limit
            - `OCO` counts as 2 orders against the order rate limit.

        Weight(IP): 1
      operationId: apiV3OrderOcoPOST
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: listClientOrderId
        in: query
        description: A unique Id for the entire orderList
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: side
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: SELL
          enum:
          - SELL
          - BUY
      - name: quantity
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 1
      - name: limitClientOrderId
        in: query
        description: A unique Id for the limit order
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limitStrategyId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: limitStrategyType
        in: query
        description: The value cannot be less than 1000000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: price
        in: query
        description: Order price
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 218
      - name: limitIcebergQty
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: trailingDelta
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: stopClientOrderId
        in: query
        description: A unique Id for the stop loss/stop loss limit leg
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: stopPrice
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 220
      - name: stopStrategyId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: stopStrategyType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: stopLimitPrice
        in: query
        description: "If provided, stopLimitTimeInForce is required."
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: stopIcebergQty
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: stopLimitTimeInForce
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - GTC
          - FOK
          - IOC
      - name: newOrderRespType
        in: query
        description: Set the response JSON.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ACK
          - RESULT
          - FULL
      - name: selfTradePreventionMode
        in: query
        description: "The allowed enums is dependent on what is configured on the\
          \ symbol. The possible supported values are EXPIRE_TAKER, EXPIRE_MAKER,\
          \ EXPIRE_BOTH, NONE."
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: EXPIRE_TAKER
          enum:
          - EXPIRE_TAKER
          - EXPIRE_MAKER
          - EXPIRE_BOTH
          - NONE
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: New OCO details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
  /api/v3/orderList:
    get:
      tags:
      - Trade
      summary: Query OCO (USER_DATA)
      description: |-
        Retrieves a specific OCO based on provided optional parameters

        Weight(IP): 2
      operationId: apiV3OrderListGET
      parameters:
      - name: orderListId
        in: query
        description: Order list id
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: origClientOrderId
        in: query
        description: Order id from client
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OCO details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
    delete:
      tags:
      - Trade
      summary: Cancel OCO (TRADE)
      description: |-
        Cancel an entire Order List

        Canceling an individual leg will cancel the entire OCO

        Weight(IP): 1
      operationId: apiV3OrderListDELETE
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: orderListId
        in: query
        description: Order list id
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: listClientOrderId
        in: query
        description: A unique Id for the entire orderList
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: newClientOrderId
        in: query
        description: Used to uniquely identify this cancel. Automatically generated
          by default
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Report on deleted OCO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ocoOrder'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
  /api/v3/allOrderList:
    get:
      tags:
      - Trade
      summary: Query all OCO (USER_DATA)
      description: |-
        Retrieves all OCO based on provided optional parameters

        Weight(IP): 10
      operationId: apiV3AllOrderListGET
      parameters:
      - name: fromId
        in: query
        description: Trade id to fetch from. Default gets most recent trades.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: startTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: Default 500; max 1000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 5
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: List of OCO orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/inline_response_200_12'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
  /api/v3/openOrderList:
    get:
      tags:
      - Trade
      summary: Query Open OCO (USER_DATA)
      description: "Weight(IP): 3"
      operationId: apiV3OpenOrderListGET
      parameters:
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: List of OCO orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/inline_response_200_13'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
  /api/v3/account:
    get:
      tags:
      - Trade
      summary: Account Information (USER_DATA)
      description: |-
        Get current account information.

        Weight(IP): 10
      operationId: apiV3AccountGET
      parameters:
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
  /api/v3/myTrades:
    get:
      tags:
      - Trade
      summary: Account Trade List (USER_DATA)
      description: |-
        Get trades for a specific account and symbol.

        If `fromId` is set, it will get id >= that `fromId`. Otherwise most recent orders are returned.

        The time between startTime and endTime can't be longer than 24 hours.
        These are the supported combinations of all parameters:

          symbol

          symbol + orderId

          symbol + startTime

          symbol + endTime

          symbol + fromId

          symbol + startTime + endTime

          symbol+ orderId + fromId

        Weight(IP): 10
      operationId: apiV3MyTradesGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: orderId
        in: query
        description: This can only be used in combination with symbol.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: startTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: fromId
        in: query
        description: Trade id to fetch from. Default gets most recent trades.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: Default 500; max 1000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 5
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: List of trades
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/myTrade'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
  /api/v3/rateLimit/order:
    get:
      tags:
      - Trade
      summary: Query Current Order Count Usage (TRADE)
      description: |-
        Displays the user's current order count usage for all intervals.

        Weight(IP): 20
      operationId: apiV3RateLimitOrderGET
      parameters:
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Order rate limits
          content:
            application/json:
              schema:
                type: array
                example:
                - rateLimitType: ORDERS
                  interval: SECOND
                  intervalNum: 10
                  limit: 10000
                  count: 0
                - rateLimitType: ORDERS
                  interval: DAY
                  intervalNum: 1
                  limit: 20000
                  count: 0
                items:
                  $ref: '#/components/schemas/inline_response_200_14'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
  /api/v3/myPreventedMatches:
    get:
      tags:
      - Trade
      summary: Query Prevented Matches
      description: "Displays the list of orders that were expired because of STP.\n\
        \nFor additional information on what a Prevented match is, as well as Self\
        \ Trade Prevention (STP), please refer to our STP FAQ page.\n\nThese are the\
        \ combinations supported:\n\n* symbol + preventedMatchId\n* symbol + orderId\n\
        * symbol + orderId + fromPreventedMatchId (limit will default to 500)\n* symbol\
        \ + orderId + fromPreventedMatchId + limit\n\nWeight(IP):\n\nCase \t     \
        \                     Weight\nIf symbol is invalid: \t        2\nQuerying\
        \ by preventedMatchId: \t2\nQuerying by orderId: \t          20"
      operationId: apiV3MyPreventedMatchesGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: preventedMatchId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 1
      - name: orderId
        in: query
        description: Order id
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: fromPreventedMatchId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 1
      - name: limit
        in: query
        description: Default 500; max 1000.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 5
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Order list that were expired due to STP
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/inline_response_200_15'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Trade
  /sapi/v1/margin/transfer:
    get:
      tags:
      - Margin
      summary: Get Cross Margin Transfer History (USER_DATA)
      description: |-
        - Response in descending order
        - Returns data for last 7 days by default
        - Set `archived` to `true` to query data from 6 months ago

        Weight(IP): 1
      operationId: sapiV1MarginTransferGET
      parameters:
      - name: asset
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: BNB
      - name: type
        in: query
        description: Transfer Type
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ROLL_IN
          - ROLL_OUT
      - name: startTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: current
        in: query
        description: Current querying page. Start from 1. Default:1
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 1
      - name: size
        in: query
        description: Default:10 Max:100
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 100
      - name: archived
        in: query
        description: "Default: false. Set to true for archived data from 6 months\
          \ ago"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: "Margin account transfer history, response in descending order"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Margin
    post:
      tags:
      - Margin
      summary: Cross Margin Account Transfer (MARGIN)
      description: |-
        Execute transfer between spot account and cross margin account.

        Weight(IP): 600
      operationId: sapiV1MarginTransferPOST
      parameters:
      - name: asset
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BTC
      - name: amount
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 1.01
      - name: type
        in: query
        description: |-
          * `1` - transfer from main account to margin account
          * `2` - transfer from margin account to main account
        required: true
        style: form
        explode: true
        schema:
          maximum: 2
          minimum: 1
          type: integer
          format: int32
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Transfer Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Margin
  /sapi/v1/margin/loan:
    get:
      tags:
      - Margin
      summary: Query Loan Record (USER_DATA)
      description: |-
        - `txId` or `startTime` must be sent. `txId` takes precedence.
        - Response in descending order
        - If `isolatedSymbol` is not sent, crossed margin data will be returned
        - Set `archived` to `true` to query data from 6 months ago

        Weight(IP): 10
      operationId: sapiV1MarginLoanGET
      parameters:
      - name: asset
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BTC
      - name: isolatedSymbol
        in: query
        description: Isolated symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: txId
        in: query
        description: the tranId in  `POST /sapi/v1/margin/loan`
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 123456789
      - name: startTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: current
        in: query
        description: Current querying page. Start from 1. Default:1
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 1
      - name: size
        in: query
        description: Default:10 Max:100
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 100
      - name: archived
        in: query
        description: "Default: false. Set to true for archived data from 6 months\
          \ ago"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Loan records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Margin
    post:
      tags:
      - Margin
      summary: Margin Account Borrow (MARGIN)
      description: |-
        Apply for a loan.

        - If "isIsolated" = "TRUE", "symbol" must be sent
        - "isIsolated" = "FALSE" for crossed margin loan

        Weight(UID): 3000
      operationId: sapiV1MarginLoanPOST
      parameters:
      - name: asset
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BTC
      - name: isIsolated
        in: query
        description: |-
          * `TRUE` - For isolated margin
          * `FALSE` - Default, not for isolated margin
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - "TRUE"
          - "FALSE"
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: amount
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 1.01
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Transaction id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Margin
  /sapi/v1/margin/repay:
    get:
      tags:
      - Margin
      summary: Query Repay Record (USER_DATA)
      description: |-
        - `txId` or `startTime` must be sent. `txId` takes precedence.
        - Response in descending order
        - If `isolatedSymbol` is not sent, crossed margin data will be returned
        - Set `archived` to `true` to query data from 6 months ago

        Weight(IP): 10
      operationId: sapiV1MarginRepayGET
      parameters:
      - name: asset
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BTC
      - name: isolatedSymbol
        in: query
        description: Isolated symbol
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: txId
        in: query
        description: the tranId in  `POST /sapi/v1/margin/repay`
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 2970933056
      - name: startTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: UTC timestamp in ms
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: current
        in: query
        description: Current querying page. Start from 1. Default:1
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 1
      - name: size
        in: query
        description: Default:10 Max:100
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          example: 100
      - name: archived
        in: query
        description: "Default: false. Set to true for archived data from 6 months\
          \ ago"
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Load records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Margin
    post:
      tags:
      - Margin
      summary: Margin Account Repay (MARGIN)
      description: |-
        Repay loan for margin account.

        - If "isIsolated" = "TRUE", "symbol" must be sent
        - "isIsolated" = "FALSE" for crossed margin repay

        Weight(IP): 3000
      operationId: sapiV1MarginRepayPOST
      parameters:
      - name: asset
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BTC
      - name: isIsolated
        in: query
        description: |-
          * `TRUE` - For isolated margin
          * `FALSE` - Default, not for isolated margin
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - "TRUE"
          - "FALSE"
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      - name: amount
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: number
          format: double
          example: 1.01
      - name: recvWindow
        in: query
        description: The value cannot be greater than 60000
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int64
          example: 5000
      - name: timestamp
        in: query
        description: UTC timestamp in ms
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int64
      - name: signature
        in: query
        description: Signature
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Transaction id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
        "401":
          description: Unauthorized Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Margin
  /sapi/v1/margin/asset:
    get:
      tags:
      - Margin
      summary: Query Margin Asset (MARKET_DATA)
      description: "Weight(IP): 10"
      operationId: sapiV1MarginAssetGET
      parameters:
      - name: asset
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BTC
      responses:
        "200":
          description: Asset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
      security:
      - ApiKeyAuth: []
      x-swagger-router-controller: Margin
  /sapi/v1/margin/pair:
    get:
      tags:
      - Margin
      summary: Query Cross Margin Pair (MARKET_DATA)
      description: "Weight(IP): 10"
      operationId: sapiV1MarginPairGET
      parameters:
      - name: symbol
        in: query
        description: "Trading symbol, e.g. BNBUSDT"
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: BNBUSDT
      responses:
        "200":
          description: Margin pair details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
        "400":
          description: Bad Request
          content:
[...]
